.top-bar{
  background-color: rgb(19, 19, 19); 

}
.body{
  background-color: rgb(33, 33, 33);
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  z-index: -1;
}
.navigation-buttons{
  align-content: space-evenly;
}
.deposit-button{
  color: white;
}
.deposit-button:hover{
  background-color: green;
}
.withdraw-button{
  color: white;
}
.withdraw-button:hover{
  background-color: red;
}

.slots-button{
  margin-top: 20px;
  color: white;
  border-color: white;
}
.slots-button:hover{
  background-color: grey;
}

